{% extends 'polls/base.html' %}

{% block content %}

<h1> {{question.question_text}}</h1>
{% if error_message %}
<div class="text-danger">
    <p><strong>{{error_message}}</strong></p>
</div>
{% endif %}
<form class="h5" action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice"
           id="choice {{forloop.counter}}" value="{{ choice.id }}" />
    <label for="choice {{ forloop.counter }}">
        {{ choice.choice_text }}
    </label>
    <br />
    {% endfor %}
    <input type="submit" value="Vote" class="btn btn-outline-success" />
    <a href="{% url 'polls:index'%}">
        <button type="button" class="btn btn-outline-danger">Back</button>
    </a>
</form>


{% endblock %}